@font-face {
	font-family:"Crushine Brush Script";
	font-style:normal;
	font-weight:500;
	src : url("../../font/CrushineBrushScript.ttf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Marco-de-texto-b-sico {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffed00;
	font-family:"Crushine Brush Script", serif;
	font-size:3000px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Minion Pro", serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffed00;
	font-family:"Minion Pro", serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Minion Pro", serif;
	font-size:2000px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffed00;
	font-family:"Minion Pro", serif;
	font-size:3000px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,-902.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-902.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4266.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-902.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-902.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2400.00px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3300.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2400.00px;
}
#_idContainer002 {
	-ms-transform:translate(1200.000px,642.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1200.000px,642.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:236.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1200.000px,642.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1200.000px,642.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:837.00px;
}
#_idContainer003 {
	-ms-transform:translate(810.000px,1093.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(810.000px,1093.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1652.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(810.000px,1093.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(810.000px,1093.279px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1525.00px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,-50.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-50.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3399.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-50.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-50.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2460.00px;
}
#_idContainer005, #_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:452.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:767.65px;
}
#_idContainer007 {
	-ms-transform:translate(170.000px,321.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.000px,321.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:452.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(170.000px,321.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.000px,321.982px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:767.65px;
}
#_idContainer008, #_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:448.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:767.65px;
}
#_idContainer010 {
	-ms-transform:translate(170.000px,970.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.000px,970.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:448.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(170.000px,970.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.000px,970.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:767.65px;
}
#_idContainer011, #_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:452.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:778.94px;
}
#_idContainer013 {
	-ms-transform:translate(170.000px,1606.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(170.000px,1606.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:452.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(170.000px,1606.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(170.000px,1606.765px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:778.94px;
}
#_idContainer014, #_idContainer015 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:566.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.00px;
}
#_idContainer016 {
	-ms-transform:translate(1186.062px,547.991px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1186.062px,547.991px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:566.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1186.062px,547.991px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1186.062px,547.991px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.00px;
}
#_idContainer017, #_idContainer018 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:569.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.00px;
}
#_idContainer019 {
	-ms-transform:translate(1186.062px,1321.807px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1186.062px,1321.807px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:569.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1186.062px,1321.807px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1186.062px,1321.807px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:970.00px;
}
#_idContainer020, #_idContainer021 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:894.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1564.28px;
}
#_idContainer022 {
	-ms-transform:translate(447.858px,2240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(447.858px,2240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:894.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(447.858px,2240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(447.858px,2240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1564.28px;
}
#_idContainer023 {
	-ms-transform:translate(-83.197px,-68.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-83.197px,-68.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3432.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-83.197px,-68.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-83.197px,-68.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2483.20px;
}
#_idContainer024 {
	-ms-transform:translate(237.456px,345.226px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(237.456px,345.226px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:353.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(237.456px,345.226px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(237.456px,345.226px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:343.19px;
}
#_idContainer025 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:671.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:513.21px;
}
#_idContainer026 {
	-ms-transform:translate(569.013px,313.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(569.013px,313.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:202.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(569.013px,313.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(569.013px,313.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:89.72px;
}
#_idContainer027 {
	-ms-transform:translate(950.000px,2430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(950.000px,2430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:698.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(950.000px,2430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(950.000px,2430.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:658.74px;
}
#_idContainer028, #_idContainer035, #_idContainer042 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:403.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:407.32px;
}
#_idContainer029, #_idContainer036, #_idContainer043 {
	-ms-transform:translate(647.040px,2.114px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(647.040px,2.114px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:403.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(647.040px,2.114px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(647.040px,2.114px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:407.32px;
}
#_idContainer030, #_idContainer037, #_idContainer044 {
	-ms-transform:translate(329.863px,496.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(329.863px,496.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:403.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(329.863px,496.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(329.863px,496.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:407.32px;
}
#_idContainer031, #_idContainer038, #_idContainer045 {
	-ms-transform:translate(116.131px,174.089px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(116.131px,174.089px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(116.131px,174.089px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(116.131px,174.089px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:162.77px;
}
#_idContainer032, #_idContainer039, #_idContainer046 {
	-ms-transform:translate(760.385px,182.730px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(760.385px,182.730px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(760.385px,182.730px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(760.385px,182.730px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:171.98px;
}
#_idContainer033, #_idContainer040, #_idContainer047 {
	-ms-transform:translate(458.007px,679.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(458.007px,679.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(458.007px,679.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(458.007px,679.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.94px;
}
#_idContainer034, #_idContainer041, #_idContainer048 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:900.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1054.36px;
}
#_idContainer049 {
	-ms-transform:translate(157.886px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(157.886px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:900.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(157.886px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(157.886px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1054.36px;
}
#_idContainer050 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:347.23px;
}
#_idContainer051 {
	-ms-transform:translate(1570.000px,928.302px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1570.000px,928.302px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1570.000px,928.302px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1570.000px,928.302px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:347.23px;
}
#_idContainer052 {
	-ms-transform:translate(1570.000px,1103.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1570.000px,1103.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1570.000px,1103.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1570.000px,1103.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.96px;
}
#_idContainer053 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:258.59px;
}
#_idContainer054 {
	-ms-transform:translate(1595.903px,1102.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1595.903px,1102.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1595.903px,1102.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1595.903px,1102.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:258.59px;
}
#_idContainer055 {
	-ms-transform:translate(1854.502px,1103.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1854.502px,1103.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1854.502px,1103.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1854.502px,1103.171px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.30px;
}
#_idContainer056 {
	-ms-transform:translate(1886.938px,1100.432px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1886.938px,1100.432px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1886.938px,1100.432px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1886.938px,1100.432px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.29px;
}
#_idContainer057 {
	-ms-transform:translate(1914.876px,1100.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1914.876px,1100.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1914.876px,1100.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1914.876px,1100.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:285.02px;
}
#_idContainer058 {
	-ms-transform:translate(1574.637px,1173.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1574.637px,1173.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1574.637px,1173.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1574.637px,1173.052px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:66.17px;
}
#_idContainer059 {
	-ms-transform:translate(1636.525px,1172.496px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1636.525px,1172.496px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1636.525px,1172.496px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1636.525px,1172.496px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.79px;
}
#_idContainer060 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.84px;
}
#_idContainer061 {
	-ms-transform:translate(1677.908px,1167.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1677.908px,1167.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:64.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1677.908px,1167.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1677.908px,1167.933px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.84px;
}
#_idContainer062 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.92px;
}
#_idContainer063 {
	-ms-transform:translate(1833.403px,1189.353px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1833.403px,1189.353px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1833.403px,1189.353px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1833.403px,1189.353px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.92px;
}
#_idContainer064 {
	-ms-transform:translate(1852.621px,1178.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1852.621px,1178.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1852.621px,1178.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1852.621px,1178.214px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:19.97px;
}
#_idContainer065 {
	-ms-transform:translate(1875.990px,1188.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1875.990px,1188.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1875.990px,1188.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1875.990px,1188.678px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:83.50px;
}
#_idContainer066 {
	-ms-transform:translate(1954.704px,1172.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1954.704px,1172.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1954.704px,1172.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1954.704px,1172.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:37.16px;
}
#_idContainer067 {
	-ms-transform:translate(1989.326px,1188.252px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1989.326px,1188.252px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1989.326px,1188.252px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1989.326px,1188.252px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.76px;
}
#_idContainer068 {
	-ms-transform:translate(2108.423px,1188.216px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2108.423px,1188.216px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2108.423px,1188.216px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2108.423px,1188.216px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.87px;
}
#_idContainer069 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:228.92px;
}
#_idContainer070 {
	-ms-transform:translate(1570.601px,1248.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1570.601px,1248.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1570.601px,1248.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1570.601px,1248.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:228.92px;
}
#_idContainer071 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:353.69px;
}
#_idContainer072 {
	-ms-transform:translate(1583.565px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1583.565px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1583.565px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1583.565px,606.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:353.69px;
}
#_idContainer073 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.01px;
}
#_idContainer074 {
	-ms-transform:translate(1570.000px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1570.000px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1570.000px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1570.000px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.01px;
}
#_idContainer075 {
	-ms-transform:translate(1570.438px,797.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1570.438px,797.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1570.438px,797.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1570.438px,797.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:181.25px;
}
#_idContainer076 {
	-ms-transform:translate(450.417px,1916.762px) rotate(359.500deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.417px,1916.762px) rotate(359.500deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(450.417px,1916.762px) rotate(359.500deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.417px,1916.762px) rotate(359.500deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1599.98px;
}
#_idContainer077 {
	-ms-transform:translate(710.000px,189.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(710.000px,189.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(710.000px,189.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(710.000px,189.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:860.00px;
}
#_idContainer078 {
	-ms-transform:translate(0.000px,-36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3359.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2443.20px;
}
#_idContainer079, #_idContainer080 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.00px;
}
#_idContainer081 {
	-ms-transform:translate(219.500px,345.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(219.500px,345.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(219.500px,345.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(219.500px,345.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.00px;
}
#_idContainer082, #_idContainer083 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:233.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:233.00px;
}
#_idContainer084 {
	-ms-transform:translate(219.499px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(219.499px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:233.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(219.499px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(219.499px,719.223px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:233.00px;
}
#_idContainer085 {
	-ms-transform:translate(1348.026px,1359.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1348.026px,1359.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:150.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1348.026px,1359.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1348.026px,1359.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.28px;
}
#_idContainer086 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:272.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.00px;
}
#_idContainer087 {
	-ms-transform:translate(1944.000px,330.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1944.000px,330.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:272.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1944.000px,330.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1944.000px,330.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.00px;
}
#_idContainer088 {
	-ms-transform:translate(1958.031px,735.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1958.031px,735.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:236.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1958.031px,735.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1958.031px,735.510px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:236.00px;
}
#_idContainer089, #_idContainer090 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.90px;
}
#_idContainer091 {
	-ms-transform:translate(1958.031px,703.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1958.031px,703.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1958.031px,703.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1958.031px,703.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.90px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
